<system>
  log_level warn
</system>

<source>
  @type forward
</source>
<source>
  @type monitor_agent
  port 24220
  tag forward.fluentd.monitor.metrics
</source>

# Syslog listener
<source>
  @type syslog
  port 514
  bind 0.0.0.0
  tag forward.syslog
</source>

# Prometheus listener
<source>
  @type prometheus
  port 9101
</source>

# Prometheus fluentd metrics
<source>
  @type prometheus_monitor
</source>

# Tag all events with the arena they came from
<filter **>
  @type record_transformer
  <record>
    arena {{ getv "/config/Arena" }}
  </record>
</filter>

# Tag all events with our aws account_id
<filter **>
  @type ec2_metadata
  <record>
    account_id    ${account_id}
  </record>
</filter>

# Strip out the ec2.forward tag
<match ec2.forward.**>
  @type retag
  remove_prefix ec2.forward
</match>

# Copy everything outbound
<match **>
    @type copy
    <store>
    @type s3
        buffer_path /var/log/fluentd/s3
        buffer_queue_full_action exception
        buffer_type file
        buffer_chunk_limit 256m

        check_apikey_on_start false
        s3_bucket {{ getv "/config/FluentLogsBucket" }}
        s3_region {{ getv "/config/AWSRegion" }}
        time_slice_format %Y/%m/%d/%Y%m%d%H
        utc true
        proxy_uri http://proxy.service.consul:3128
   </store>
{{ if exists "/config/SQS/Queue" }}
   <store>
     @type sqs

     buffer_path /var/log/fluentd/sqs
     buffer_queue_full_action exception
     buffer_type file
     buffer_chunk_limit 8m

     queue_name {{ getv "/config/SQS/Queue" }}
     create_queue false
{{ if exists "/config/SQS/AccessKey" }}aws_key_id {{ getv "/config/SQS/AccessKey" }}{{ end }}
{{ if exists "/config/SQS/SecretKey" }}aws_sec_key {{ getv "/config/SQS/SecretKey" }}{{ end }}
{{ if exists "/config/SQS/Region" }}
     region {{ getv "/config/SQS/Region" }}
{{ else }}
     region {{ getv "/config/AWSRegion" }}
{{ end }}
   </store>
{{ end }}

{{ if exists "/config/ElasticSearch/AWSEndpoint" }}
  # Ship to ElasticSearch
  <store>
    @type elasticsearch
    logstash_format true
    include_tag_key true
    flush_interval "15s"
    request_timeout "60s"
    reload_connections false
    reload_on_failure false
    num_threads 4

    template_name fluentd
    template_file /etc/td-agent/elasticsearch-logstash-template.json
    template_overwrite true

    buffer_type file
    buffer_queue_full_action exception
    buffer_path /var/log/fluentd/elasticsearch
    buffer_chunk_limit 4m

    # Use our AWS Proxy
    hosts localhost:8080

  </store>
{{ end }}
</match>

{{ if exists "/config/AccessLoggingBucket" }}
# Pull in ELB logs
<source>
  @type elb_log
  region            {{ getv "/config/AWSRegion" }}
  s3_bucketname     {{ getv "/config/AccessLoggingBucket" }}
  timestamp_file    /var/log/fluentd/elb.ts
  buf_file          /var/log/fluentd/elb.buf
  refresh_interval  15
  tag               ec2.forward.elb.access
  http_proxy        http://proxy.service.consul:3128
  start_time        "{{ getv "/config/AccessLoggingBucketStartTime" }}"
</source>

{{ end }}
