<source>
  type elb_log
  region            {{ getv "/config/AWSRegion" }}
  s3_bucketname     {{ getv "/config/AccessLoggingBucket" }}
  timestamp_file    /var/log/td-agent/elb.ts
  buf_file          /var/log/td-agent/elb.buf
  refresh_interval  15
  tag               ec2.forward.elb.access
</source>

